.focusss {
    /* border: 2px solid red; */
    width: 78%;
    height: 100svh;
    overflow-y: scroll;  
    overflow-x: hidden;   
    /* overflow-anchor: none;
    scrollbar-width: none;
    -ms-overflow-style: none; */
        /* @media(max-width: 768px) {
        width: 100%;
        height: 92svh;
    } */

}