.left-desktop {
    /* border: 1px solid green; */
    height: 100vh;
    width: 20%;
    display: flex;
    /* gap: 2.5rem; */
    /* border-right: 4px solid black; */
    background:
        linear-gradient(to right,
        var(--bg-2) 0%,
        var(--bg-1) 100%);
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1svw;
}

/* .left-desktop span {
   text-shadow: #ffd150 1px 0 10px;
} */


.left-desktop .explanation p {
    font-size: 18px;
    font-family: "BBB Karrik";
    z-index:1;
    /* -webkit-text-stroke: 0.3px #c1c1c1; */
    text-align: justify;
    line-height: 1.1;
    /* color: #c1c1c1;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px; */
}

.left-desktop .explanation span {
    font-style: italic;
    font-family: "Garabosse P2";
}

.left-desktop .explanation .one {
    /* position: absolute;
    top: 74svh; */
    /* width: 20svw; */
    /* margin-bottom: 9svh; */
    /* margin-left: 1svw; */
        /* left: 1svw; */
    z-index: 100;
    padding-bottom: 2svw;
    /* border: 1px solid red; */
}

/* .left-content {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 1rem;
} */

.all-editions {
    /* writing-mode: vertical-rl;
    text-orientation: sideways;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 100%;
    width: 100%; */
    /* border: 1px solid green; */
}   

.all-editions p {
    /* font-family: "Banana 2"; */
    font-family: "Garabosse P2";
    font-weight: bold;
    font-size: 24px;
    /* letter-spacing: 1.1px; */
    /* text-shadow:
            var(--bg-buttons) 2px 0px 0px,
            var(--bg-buttons) 1.75517px 0.958851px 0px,
            var(--bg-buttons) 1.0806px 1.68294px 0px,
            var(--bg-buttons) 0.141474px 1.99499px 0px,
            var(--bg-buttons) -0.832294px 1.81859px 0px,
            var(--bg-buttons) -1.60229px 1.19694px 0px,
            var(--bg-buttons) -1.97999px 0.28224px 0px,
            var(--bg-buttons) -1.87291px -0.701566px 0px,
            var(--bg-buttons) -1.30729px -1.51361px 0px,
            var(--bg-buttons) -0.421592px -1.95506px 0px,
            var(--bg-buttons) 0.567324px -1.91785px 0px,
            var(--bg-buttons) 1.41734px -1.41108px 0px,
            var(--bg-buttons) 1.92034px -0.558831px 0px;
    color: black;
    letter-spacing: 2px;
                filter:
            drop-shadow(0 0 1px black)
            drop-shadow(0 0 2px black)
            drop-shadow(0 0 4px black); */
    color: var(--pink-1);
    /* text-shadow: rgb(255, 209, 80) 5px 0px 0px, rgb(255, 209, 80) 4.90033px 0.993347px 0px, rgb(255, 209, 80) 4.60531px 1.94709px 0px, rgb(255, 209, 80) 4.12668px 2.82321px 0px, rgb(255, 209, 80) 3.48353px 3.58678px 0px, rgb(255, 209, 80) 2.70151px 4.20736px 0px, rgb(255, 209, 80) 1.81179px 4.6602px 0px, rgb(255, 209, 80) 0.849836px 4.92725px 0px, rgb(255, 209, 80) -0.145998px 4.99787px 0px, rgb(255, 209, 80) -1.13601px 4.86924px 0px, rgb(255, 209, 80) -2.08073px 4.54649px 0px, rgb(255, 209, 80) -2.94251px 4.04248px 0px, rgb(255, 209, 80) -3.68697px 3.37732px 0px, rgb(255, 209, 80) -4.28444px 2.57751px 0px, rgb(255, 209, 80) -4.71111px 1.67494px 0px, rgb(255, 209, 80) -4.94996px 0.7056px 0px, rgb(255, 209, 80) -4.99147px -0.291871px 0px, rgb(255, 209, 80) -4.83399px -1.27771px 0px, rgb(255, 209, 80) -4.48379px -2.2126px 0px, rgb(255, 209, 80) -3.95484px -3.05929px 0px, rgb(255, 209, 80) -3.26822px -3.78401px 0px, rgb(255, 209, 80) -2.4513px -4.35788px 0px, rgb(255, 209, 80) -1.53666px -4.75801px 0px, rgb(255, 209, 80) -0.560763px -4.96846px 0px, rgb(255, 209, 80) 0.437495px -4.98082px 0px, rgb(255, 209, 80) 1.41831px -4.79462px 0px, rgb(255, 209, 80) 2.34258px -4.41727px 0px, rgb(255, 209, 80) 3.17346px -3.86382px 0px, rgb(255, 209, 80) 3.87783px -3.15633px 0px, rgb(255, 209, 80) 4.4276px -2.32301px 0px, rgb(255, 209, 80) 4.80085px -1.39708px 0px, rgb(255, 209, 80) 4.98271px -0.415447px 0px; */

}

/* .all-editions img {
    width: 600px;
} */

/* buttons */

/* .left-desktop .buttons {
    display:flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 1em;
} */

/* .left-desktop button {
    border: none;
    background: none;
    font-family: "BBB Karrik";
    font-size: 18px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    transition: all 0.1s ease;
    text-shadow: rgb(229, 236, 233) 5px 0px 0px, rgb(229, 236, 233) 4.90033px 0.993347px 0px, rgb(229, 236, 233) 4.60531px 1.94709px 0px, rgb(229, 236, 233) 4.12668px 2.82321px 0px, rgb(229, 236, 233) 3.48353px 3.58678px 0px, rgb(229, 236, 233) 2.70151px 4.20736px 0px, rgb(229, 236, 233) 1.81179px 4.6602px 0px, rgb(229, 236, 233) 0.849836px 4.92725px 0px, rgb(229, 236, 233) -0.145998px 4.99787px 0px, rgb(229, 236, 233) -1.13601px 4.86924px 0px, rgb(229, 236, 233) -2.08073px 4.54649px 0px, rgb(229, 236, 233) -2.94251px 4.04248px 0px, rgb(229, 236, 233) -3.68697px 3.37732px 0px, rgb(229, 236, 233) -4.28444px 2.57751px 0px, rgb(229, 236, 233) -4.71111px 1.67494px 0px, rgb(229, 236, 233) -4.94996px 0.7056px 0px, rgb(229, 236, 233) -4.99147px -0.291871px 0px, rgb(229, 236, 233) -4.83399px -1.27771px 0px, rgb(229, 236, 233) -4.48379px -2.2126px 0px, rgb(229, 236, 233) -3.95484px -3.05929px 0px, rgb(229, 236, 233) -3.26822px -3.78401px 0px, rgb(229, 236, 233) -2.4513px -4.35788px 0px, rgb(229, 236, 233) -1.53666px -4.75801px 0px, rgb(229, 236, 233) -0.560763px -4.96846px 0px, rgb(229, 236, 233) 0.437495px -4.98082px 0px, rgb(229, 236, 233) 1.41831px -4.79462px 0px, rgb(229, 236, 233) 2.34258px -4.41727px 0px, rgb(229, 236, 233) 3.17346px -3.86382px 0px, rgb(229, 236, 233) 3.87783px -3.15633px 0px, rgb(229, 236, 233) 4.4276px -2.32301px 0px, rgb(229, 236, 233) 4.80085px -1.39708px 0px, rgb(229, 236, 233) 4.98271px -0.415447px 0px;
    box-shadow: inset -1px 3px 8px 5px #2379cc, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
} */

.left-desktop button:hover {
    /* -webkit-box-shadow: inset -1px 3px 8px 5px var(--pink-2), 2px 5px 16px 0px #830950, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px var(--pink-2), 2px 5px 16px 0px #830950, 5px 5px 15px 5px rgba(0,0,0,0); */
}

/* text sideways */

/* .all, .focus {
    position: absolute;
    top: 20%;
    height: 50%;
    text-align:right;
} */

.btn-collaborate {

    z-index: 1000;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    width: fit-content;
    padding-top: 3svh;
    /* border: 1px solid red; */    
}

.btn-collaborate button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-family: "BBB Karrik";
    font-size: 18px;
    transition: all 0.2s ease;
    /* text-shadow: var(--grey) 3px 0px 0px, var(--grey) 2.83487px 0.981584px 0px, var(--grey) 2.35766px 1.85511px 0px, var(--grey) 1.62091px 2.52441px 0px, var(--grey) 0.705713px 2.91581px 0px, var(--grey) -0.287171px 2.98622px 0px, var(--grey) -1.24844px 2.72789px 0px, var(--grey) -2.07227px 2.16926px 0px, var(--grey) -2.66798px 1.37182px 0px, var(--grey) -2.96998px 0.42336px 0px, var(--grey) -2.94502px -0.571704px 0px, var(--grey) -2.59586px -1.50383px 0px, var(--grey) -1.96093px -2.27041px 0px, var(--grey) -1.11013px -2.78704px 0px, var(--grey) -0.137119px -2.99686px 0px, var(--grey) 0.850987px -2.87677px 0px, var(--grey) 1.74541px -2.43999px 0px, var(--grey) 2.44769px -1.73459px 0px, var(--grey) 2.88051px -0.838247px 0px; */

}

.btn-collaborate button:hover {
    color: #c1c1c1;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    cursor: pointer;
}

.left-desktop .datebis {
    font-family: "BBB Karrik";
}