    /* GENERAL */

    .listing {
        /* border-left: 3px solid black; */
        width: 75%;
        height: 100svh;
        overflow: scroll;
        overflow-anchor: none;
        @media(max-width: 768px) {
            width: 100%;
            height: 92svh;
        }
    }

    .block {
        position: relative;
        padding-left: 1rem;  
        padding-right: 20px;
        padding-top: 4rem;
        padding-bottom: 3rem;
        min-height: 34svh;
        /* border-top: 3px solid black; */
        display: flex;
        flex-direction: column;
        overflow-x: visible;
        /* justify-content: center; */
        /* transition: all 0.02 ease-in-out;  */
        box-sizing: border-box;
        contain: layout;
        overflow: hidden;
        transition: all ease-in-out 0.25s;
        background:
        linear-gradient(to right,
        var(--bg-1) 0%,
        transparent 50%,
        var(--bg-1) 100%
    ),
    linear-gradient(180deg,
        var(--bg-2) 0%,
        var(--bg-1) 50%,
        var(--bg-2) 100%
    );
        /* overflow-anchor: none;  */
        /* box-sizing: border-box; */
    @media(max-width: 768px) {
                padding: 1rem;
        }
    }

.block::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1%;
    width: 98%;
    height: 2px;
    background: black;
    border-radius: 80px;
}

.block:last-of-type::before {
    display: none;
}

.block.pink {
    background:
        linear-gradient(to right,
        var(--bg-1) 0%,
        transparent 50%,
        var(--bg-1) 100%
    ),
    linear-gradient(180deg,
        var(--bg-2) 0%,
        var(--bg-1) 50%,
        var(--bg-2) 100%
    );

    }

.block.blue {
    background:
        linear-gradient(to right,
        var(--bg-1) 0%,
        transparent 50%,
        var(--bg-1) 100%
    ),
    linear-gradient(180deg,
        var(--bg-2) 0%,
        var(--bg-1) 50%,
        var(--bg-2) 100%
    );
    }

    .block:nth-of-type(1) {
        position: relative;
        border-top: 0;
    }

    /* INFOS */

    .listing .infos {
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 1rem;
        box-sizing: border-box;
    }

    .upcoming {
        font-family: "Banana 2";
        font-weight: bold;
        color: var(--pink-1);
        text-shadow: rgb(255, 209, 80) 5px 0px 0px, rgb(255, 209, 80) 4.90033px 0.993347px 0px, rgb(255, 209, 80) 4.60531px 1.94709px 0px, rgb(255, 209, 80) 4.12668px 2.82321px 0px, rgb(255, 209, 80) 3.48353px 3.58678px 0px, rgb(255, 209, 80) 2.70151px 4.20736px 0px, rgb(255, 209, 80) 1.81179px 4.6602px 0px, rgb(255, 209, 80) 0.849836px 4.92725px 0px, rgb(255, 209, 80) -0.145998px 4.99787px 0px, rgb(255, 209, 80) -1.13601px 4.86924px 0px, rgb(255, 209, 80) -2.08073px 4.54649px 0px, rgb(255, 209, 80) -2.94251px 4.04248px 0px, rgb(255, 209, 80) -3.68697px 3.37732px 0px, rgb(255, 209, 80) -4.28444px 2.57751px 0px, rgb(255, 209, 80) -4.71111px 1.67494px 0px, rgb(255, 209, 80) -4.94996px 0.7056px 0px, rgb(255, 209, 80) -4.99147px -0.291871px 0px, rgb(255, 209, 80) -4.83399px -1.27771px 0px, rgb(255, 209, 80) -4.48379px -2.2126px 0px, rgb(255, 209, 80) -3.95484px -3.05929px 0px, rgb(255, 209, 80) -3.26822px -3.78401px 0px, rgb(255, 209, 80) -2.4513px -4.35788px 0px, rgb(255, 209, 80) -1.53666px -4.75801px 0px, rgb(255, 209, 80) -0.560763px -4.96846px 0px, rgb(255, 209, 80) 0.437495px -4.98082px 0px, rgb(255, 209, 80) 1.41831px -4.79462px 0px, rgb(255, 209, 80) 2.34258px -4.41727px 0px, rgb(255, 209, 80) 3.17346px -3.86382px 0px, rgb(255, 209, 80) 3.87783px -3.15633px 0px, rgb(255, 209, 80) 4.4276px -2.32301px 0px, rgb(255, 209, 80) 4.80085px -1.39708px 0px, rgb(255, 209, 80) 4.98271px -0.415447px 0px;
    }

    .date {
        border-radius: 20px;
        background: var(--bg-buttons);
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        -webkit-box-shadow: inset -1px 3px 8px 5px #ffd150, 2px 5px 16px 0px #ae8822, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: inset -1px 3px 8px 5px #ffd150, 2px 5px 16px 0px #ae8822, 5px 5px 15px 5px rgba(0,0,0,0);
    }


    /* TITRES */

    .block h2 {
        transition: all 0.2s ease-in-out; 
        user-select: none;
        text-shadow: none;
    }

    .block h2.focus {
        /* -webkit-text-stroke: 1px var(--bg-buttons);
        text-shadow: rgb(0, 0, 0) 5px 0px 0px, rgb(0, 0, 0) 4.90033px 0.993347px 0px, rgb(0, 0, 0) 4.60531px 1.94709px 0px, rgb(0, 0, 0) 4.12668px 2.82321px 0px, rgb(0, 0, 0) 3.48353px 3.58678px 0px, rgb(0, 0, 0) 2.70151px 4.20736px 0px, rgb(0, 0, 0) 1.81179px 4.6602px 0px, rgb(0, 0, 0) 0.849836px 4.92725px 0px, rgb(0, 0, 0) -0.145998px 4.99787px 0px, rgb(0, 0, 0) -1.13601px 4.86924px 0px, rgb(0, 0, 0) -2.08073px 4.54649px 0px, rgb(0, 0, 0) -2.94251px 4.04248px 0px, rgb(0, 0, 0) -3.68697px 3.37732px 0px, rgb(0, 0, 0) -4.28444px 2.57751px 0px, rgb(0, 0, 0) -4.71111px 1.67494px 0px, rgb(0, 0, 0) -4.94996px 0.7056px 0px, rgb(0, 0, 0) -4.99147px -0.291871px 0px, rgb(0, 0, 0) -4.83399px -1.27771px 0px, rgb(0, 0, 0) -4.48379px -2.2126px 0px, rgb(0, 0, 0) -3.95484px -3.05929px 0px, rgb(0, 0, 0) -3.26822px -3.78401px 0px, rgb(0, 0, 0) -2.4513px -4.35788px 0px, rgb(0, 0, 0) -1.53666px -4.75801px 0px, rgb(0, 0, 0) -0.560763px -4.96846px 0px, rgb(0, 0, 0) 0.437495px -4.98082px 0px, rgb(0, 0, 0) 1.41831px -4.79462px 0px, rgb(0, 0, 0) 2.34258px -4.41727px 0px, rgb(0, 0, 0) 3.17346px -3.86382px 0px, rgb(0, 0, 0) 3.87783px -3.15633px 0px, rgb(0, 0, 0) 4.4276px -2.32301px 0px, rgb(0, 0, 0) 4.80085px -1.39708px 0px, rgb(0, 0, 0) 4.98271px -0.415447px 0px; */
    }


    .div-titre {
        cursor: pointer;
    }

    .titre.pink, .titre.blue {
        /* -webkit-text-stroke: 1px #F90093; */
                -webkit-text-stroke: 1px var(--bg-buttons);
        text-shadow: rgb(0, 0, 0) 5px 0px 0px, rgb(0, 0, 0) 4.90033px 0.993347px 0px, rgb(0, 0, 0) 4.60531px 1.94709px 0px, rgb(0, 0, 0) 4.12668px 2.82321px 0px, rgb(0, 0, 0) 3.48353px 3.58678px 0px, rgb(0, 0, 0) 2.70151px 4.20736px 0px, rgb(0, 0, 0) 1.81179px 4.6602px 0px, rgb(0, 0, 0) 0.849836px 4.92725px 0px, rgb(0, 0, 0) -0.145998px 4.99787px 0px, rgb(0, 0, 0) -1.13601px 4.86924px 0px, rgb(0, 0, 0) -2.08073px 4.54649px 0px, rgb(0, 0, 0) -2.94251px 4.04248px 0px, rgb(0, 0, 0) -3.68697px 3.37732px 0px, rgb(0, 0, 0) -4.28444px 2.57751px 0px, rgb(0, 0, 0) -4.71111px 1.67494px 0px, rgb(0, 0, 0) -4.94996px 0.7056px 0px, rgb(0, 0, 0) -4.99147px -0.291871px 0px, rgb(0, 0, 0) -4.83399px -1.27771px 0px, rgb(0, 0, 0) -4.48379px -2.2126px 0px, rgb(0, 0, 0) -3.95484px -3.05929px 0px, rgb(0, 0, 0) -3.26822px -3.78401px 0px, rgb(0, 0, 0) -2.4513px -4.35788px 0px, rgb(0, 0, 0) -1.53666px -4.75801px 0px, rgb(0, 0, 0) -0.560763px -4.96846px 0px, rgb(0, 0, 0) 0.437495px -4.98082px 0px, rgb(0, 0, 0) 1.41831px -4.79462px 0px, rgb(0, 0, 0) 2.34258px -4.41727px 0px, rgb(0, 0, 0) 3.17346px -3.86382px 0px, rgb(0, 0, 0) 3.87783px -3.15633px 0px, rgb(0, 0, 0) 4.4276px -2.32301px 0px, rgb(0, 0, 0) 4.80085px -1.39708px 0px, rgb(0, 0, 0) 4.98271px -0.415447px 0px;
    }


    /* AFFICHE2 + ELEMENTS */

    .affiche, .element {
        z-index: -10;
    }

    .affiche {
        filter: blur(4px) grayscale(1) ;
        transition: 0.35s filter ease-in-out;
    }

    .element2 {
          pointer-events: none;
    }

    .affiche.clicked {
        filter: blur(0px);
        /* animation: crossfade-affiche 0.5s steps(1, end) infinite; */
    }

    .affiche2 {
        position: absolute;
        top: 200px;
        right: 20px; 
        width: 300px;
        pointer-events: none;
        z-index: -11;
    }

    .affiche2.clicked {
        /* animation: crossfade-affiche2 0.5s steps(1, end) infinite; */
    }

            /* animations */
            @keyframes crossfade-affiche {
            0%, 49%   { opacity: 1; }
            50%, 100% { opacity: 0; }
}

            @keyframes crossfade-affiche2 {
                0%, 49%   { opacity: 0; }
                50%, 100% { opacity: 1; }
            }

    /* CONTENT */

    .description-wrapper {
        padding: 2rem;
        padding-bottom: 1rem;
        @media(max-width: 768px) {
            padding: 0rem;
        }
    }

    .description p {
        text-shadow: rgb(214, 209, 205) 4px 0px 0px, rgb(214, 209, 205) 3.87565px 0.989616px 0px, rgb(214, 209, 205) 3.51033px 1.9177px 0px, rgb(214, 209, 205) 2.92676px 2.72656px 0px, rgb(214, 209, 205) 2.16121px 3.36588px 0px, rgb(214, 209, 205) 1.26129px 3.79594px 0px, rgb(214, 209, 205) 0.282949px 3.98998px 0px, rgb(214, 209, 205) -0.712984px 3.93594px 0px, rgb(214, 209, 205) -1.66459px 3.63719px 0px, rgb(214, 209, 205) -2.51269px 3.11229px 0px, rgb(214, 209, 205) -3.20457px 2.39389px 0px, rgb(214, 209, 205) -3.69721px 1.52664px 0px, rgb(214, 209, 205) -3.95997px 0.56448px 0px, rgb(214, 209, 205) -3.97652px -0.432781px 0px, rgb(214, 209, 205) -3.74583px -1.40313px 0px, rgb(214, 209, 205) -3.28224px -2.28625px 0px, rgb(214, 209, 205) -2.61457px -3.02721px 0px, rgb(214, 209, 205) -1.78435px -3.57996px 0px, rgb(214, 209, 205) -0.843183px -3.91012px 0px, rgb(214, 209, 205) 0.150409px -3.99717px 0px, rgb(214, 209, 205) 1.13465px -3.8357px 0px, rgb(214, 209, 205) 2.04834px -3.43574px 0px, rgb(214, 209, 205) 2.83468px -2.82216px 0px, rgb(214, 209, 205) 3.44477px -2.03312px 0px, rgb(214, 209, 205) 3.84068px -1.11766px 0px, rgb(214, 209, 205) 3.9978px -0.132717px 0px;
    }

    .listing .content .description a {
        text-decoration: none;
        font-family: "Garabosse P2";
        /* color: var(--pink-1); */
        color: var(--bg-buttons);
        /* -webkit-text-stroke: 1px var(--bg-2); */
        text-shadow: rgb(255, 209, 80) 5px 0px 0px, rgb(255, 209, 80) 4.90033px 0.993347px 0px, rgb(255, 209, 80) 4.60531px 1.94709px 0px, rgb(255, 209, 80) 4.12668px 2.82321px 0px, rgb(255, 209, 80) 3.48353px 3.58678px 0px, rgb(255, 209, 80) 2.70151px 4.20736px 0px, rgb(255, 209, 80) 1.81179px 4.6602px 0px, rgb(255, 209, 80) 0.849836px 4.92725px 0px, rgb(255, 209, 80) -0.145998px 4.99787px 0px, rgb(255, 209, 80) -1.13601px 4.86924px 0px, rgb(255, 209, 80) -2.08073px 4.54649px 0px, rgb(255, 209, 80) -2.94251px 4.04248px 0px, rgb(255, 209, 80) -3.68697px 3.37732px 0px, rgb(255, 209, 80) -4.28444px 2.57751px 0px, rgb(255, 209, 80) -4.71111px 1.67494px 0px, rgb(255, 209, 80) -4.94996px 0.7056px 0px, rgb(255, 209, 80) -4.99147px -0.291871px 0px, rgb(255, 209, 80) -4.83399px -1.27771px 0px, rgb(255, 209, 80) -4.48379px -2.2126px 0px, rgb(255, 209, 80) -3.95484px -3.05929px 0px, rgb(255, 209, 80) -3.26822px -3.78401px 0px, rgb(255, 209, 80) -2.4513px -4.35788px 0px, rgb(255, 209, 80) -1.53666px -4.75801px 0px, rgb(255, 209, 80) -0.560763px -4.96846px 0px, rgb(255, 209, 80) 0.437495px -4.98082px 0px, rgb(255, 209, 80) 1.41831px -4.79462px 0px, rgb(255, 209, 80) 2.34258px -4.41727px 0px, rgb(255, 209, 80) 3.17346px -3.86382px 0px, rgb(255, 209, 80) 3.87783px -3.15633px 0px, rgb(255, 209, 80) 4.4276px -2.32301px 0px, rgb(255, 209, 80) 4.80085px -1.39708px 0px, rgb(255, 209, 80) 4.98271px -0.415447px 0px;
    }

    .listing .lineup {
        display: flex;
    }

    .listing .lineup .names {
        text-shadow:
            var(--bg-buttons) 2px 0px 0px,
            var(--bg-buttons) 1.75517px 0.958851px 0px,
            var(--bg-buttons) 1.0806px 1.68294px 0px,
            var(--bg-buttons) 0.141474px 1.99499px 0px,
            var(--bg-buttons) -0.832294px 1.81859px 0px,
            var(--bg-buttons) -1.60229px 1.19694px 0px,
            var(--bg-buttons) -1.97999px 0.28224px 0px,
            var(--bg-buttons) -1.87291px -0.701566px 0px,
            var(--bg-buttons) -1.30729px -1.51361px 0px,
            var(--bg-buttons) -0.421592px -1.95506px 0px,
            var(--bg-buttons) 0.567324px -1.91785px 0px,
            var(--bg-buttons) 1.41734px -1.41108px 0px,
            var(--bg-buttons) 1.92034px -0.558831px 0px;
        line-height: 1.2;
        margin-left: 10%;
    }

    .listing .lineup .names.pink {
            filter:
            drop-shadow(0 0 1px #C60F7B)
            drop-shadow(0 0 3px #C60F7B)
            drop-shadow(0 0 6px #C60F7B);
    }

    .listing .lineup .names.blue {
        filter:
            drop-shadow(0 0 1px #2379cc)
            drop-shadow(0 0 3px #2379cc)
            drop-shadow(0 0 6px #2379cc);
    }

    .listing .lineup p {
        font-family: "Banana 2";
        font-size: 32px;
        padding: 0;
        margin: 0;
        letter-spacing: 2px;
    }

    .listing .lineup .circle-lineup{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 5rem;
        @media(max-width: 768px) {
            margin-left: 1.4rem;
        }
    }

            /* CIRCLE LINE UP */
    .circle-lineup.blue::before, .circle-lineup.pink::before {
    content: "";
    position: absolute;
    z-index: -1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 180%;
    height: 45%;

    background: radial-gradient(
        ellipse at center,
        #ffd150 0%,
        rgba(255, 209, 80, 0.8) 40%,
        rgba(255, 209, 80, 0.15) 70%,
        transparent 100%
    );

    filter: blur(24px);
    opacity: 1;
    }

    .circle-lineup p {
        margin: 0;
        padding: 0;
        font-family: "Banana 2";
        font-size: 52px !important;
        color: var(--bg-buttons);
        filter:
            drop-shadow(0 0 1px rgb(255, 208, 80))
            drop-shadow(0 0 4px rgba(255, 209, 80, 0.5));
        letter-spacing: 0px !important;
    }

    .circle-lineup.pink p {
        -webkit-text-stroke: 1px var(--pink-2);
    }

    .circle-lineup.blue p {
        -webkit-text-stroke: 1px #2379cc;
    }

    /* LINK */

    .listing .link a {
        text-decoration: none;
        color: var(--bg-buttons);
        animation: stroke infinite linear 2s;
                text-shadow: rgb(255, 209, 80) 5px 0px 0px, rgb(255, 209, 80) 4.90033px 0.993347px 0px, rgb(255, 209, 80) 4.60531px 1.94709px 0px, rgb(255, 209, 80) 4.12668px 2.82321px 0px, rgb(255, 209, 80) 3.48353px 3.58678px 0px, rgb(255, 209, 80) 2.70151px 4.20736px 0px, rgb(255, 209, 80) 1.81179px 4.6602px 0px, rgb(255, 209, 80) 0.849836px 4.92725px 0px, rgb(255, 209, 80) -0.145998px 4.99787px 0px, rgb(255, 209, 80) -1.13601px 4.86924px 0px, rgb(255, 209, 80) -2.08073px 4.54649px 0px, rgb(255, 209, 80) -2.94251px 4.04248px 0px, rgb(255, 209, 80) -3.68697px 3.37732px 0px, rgb(255, 209, 80) -4.28444px 2.57751px 0px, rgb(255, 209, 80) -4.71111px 1.67494px 0px, rgb(255, 209, 80) -4.94996px 0.7056px 0px, rgb(255, 209, 80) -4.99147px -0.291871px 0px, rgb(255, 209, 80) -4.83399px -1.27771px 0px, rgb(255, 209, 80) -4.48379px -2.2126px 0px, rgb(255, 209, 80) -3.95484px -3.05929px 0px, rgb(255, 209, 80) -3.26822px -3.78401px 0px, rgb(255, 209, 80) -2.4513px -4.35788px 0px, rgb(255, 209, 80) -1.53666px -4.75801px 0px, rgb(255, 209, 80) -0.560763px -4.96846px 0px, rgb(255, 209, 80) 0.437495px -4.98082px 0px, rgb(255, 209, 80) 1.41831px -4.79462px 0px, rgb(255, 209, 80) 2.34258px -4.41727px 0px, rgb(255, 209, 80) 3.17346px -3.86382px 0px, rgb(255, 209, 80) 3.87783px -3.15633px 0px, rgb(255, 209, 80) 4.4276px -2.32301px 0px, rgb(255, 209, 80) 4.80085px -1.39708px 0px, rgb(255, 209, 80) 4.98271px -0.415447px 0px;
                    /* filter:
            drop-shadow(0 0 1px #C60F7B)
            drop-shadow(0 0 2px #C60F7B)
            drop-shadow(0 0 3px #C60F7B); */
    }

    .listing .link {
        margin-left: 2rem;
        /* margin-top: 2rem; */
        /* padding-top: 3rem; */    
        height: 6rem;
        display: flex;
        align-items: center;    
        font-family: "Garabosse P2";
        width: fit-content;
        background-size: cover;
        background-position: center center;
    }

    .listing .link.pink {
        background-image: url("./images/link-pink.png");
    }

    .listing .link.blue {
        background-image: url("./images/link-blue.png");
    }


