.listing {
    border-left: 3px solid black;
    width: 80%;
    height: 100svh;
    overflow: scroll;
       overflow-anchor: none;
    @media(max-width: 768px) {
        width: 100%;
    }
}

.block {
    position: relative;
    padding: 3rem;
    min-height: 33svh;
    border-top: 3px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* transition: all 0.02 ease-in-out;  */
    box-sizing: border-box;
    contain: layout;
    overflow: hidden;
     /* overflow-anchor: none;  */
    /* box-sizing: border-box; */
    @media(max-width: 768px) {
            padding: 2rem;
    }
}


.block:nth-of-type(1) {
    position: relative;
    border-top: 0;
}

.upcoming {
    /* position: absolute;
    bottom: 50px;
    right: 22px; */
    /* -webkit-text-stroke: 1.6px #936c98;
    font-size: 26px;
    color: var(--bg-2);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color:#936c98; */
    font-size: 18px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 50%;
    margin: 0;
    background: var(--bg-2);
    -webkit-box-shadow: inset -1px 3px 8px 5px #ffd150, 2px 5px 16px 0px #ae8822, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #ffd150, 2px 5px 16px 0px #ae8822, 5px 5px 15px 5px rgba(0,0,0,0);

}

.block h2 {
    transition: all 0.02s ease-in-out; 
    user-select: none;
}

.div-titre {
    cursor: pointer;
}

.block h2:hover {
    -webkit-text-stroke: 2px #F90093;
    /* text-shadow: rgb(249, 0, 147) 3px 0px 0px, rgb(249, 0, 147) 2.83487px 0.981584px 0px, rgb(249, 0, 147) 2.35766px 1.85511px 0px, rgb(249, 0, 147) 1.62091px 2.52441px 0px, rgb(249, 0, 147) 0.705713px 2.91581px 0px, rgb(249, 0, 147) -0.287171px 2.98622px 0px, rgb(249, 0, 147) -1.24844px 2.72789px 0px, rgb(249, 0, 147) -2.07227px 2.16926px 0px, rgb(249, 0, 147) -2.66798px 1.37182px 0px, rgb(249, 0, 147) -2.96998px 0.42336px 0px, rgb(249, 0, 147) -2.94502px -0.571704px 0px, rgb(249, 0, 147) -2.59586px -1.50383px 0px, rgb(249, 0, 147) -1.96093px -2.27041px 0px, rgb(249, 0, 147) -1.11013px -2.78704px 0px, rgb(249, 0, 147) -0.137119px -2.99686px 0px, rgb(249, 0, 147) 0.850987px -2.87677px 0px, rgb(249, 0, 147) 1.74541px -2.43999px 0px, rgb(249, 0, 147) 2.44769px -1.73459px 0px, rgb(249, 0, 147) 2.88051px -0.838247px 0px; */
}

/* quand un block est ouvert il prend toute la hauteur */
    /* .block.opened {
        box-sizing: border-box;
    } */

.listing .infos {
    display:flex;
    justify-content: space-between;
}

/* affiche */

.affiche, .element, .element2 {
    z-index: -10;
}

.affiche {
    filter: blur(4px);
    transition: 0.25s filter ease-in-out;
}

.affiche.clicked {
    filter: blur(0);
}